.main {
  display: block;
  margin-left: auto;
  margin-right: auto;
  //padding-left: 3em;
  //padding-right: 3em;
  padding-bottom: 1em;
  min-width: 1000px;
  width: auto;
  max-width: 1300px;
  height: 95vh;
  max-height: 97vh;
  border: 4px solid #200a74;
  padding-left: 2em;
  //padding-right: 10em;
  box-shadow: 10px 15px tomato;
  overflow: auto;
}

.header {
  display: flex;
  text-align: center;
  color: #200a74;
  text-shadow: 3px 2px #00ffff;
  //margin-bottom: 2em;
  margin-top: 2em;
}

img.cup {
  display: inline;
  width: 60%;
  height: 60%;
  object-fit: contain;
}

.main-container {
  width: 100%;
  height: 70%;
  align-items: center;
  justify-content: center;
  display: flex;
}

.start-btn {
  width: 300px;
  height: 200px;
  background-color: black;
  color: white;
  border: 6px solid #333333;
  box-shadow: 5px 5px rgb(179, 179, 179);
  font-size: x-large;
  font-weight:  normal;
  border-radius: 15px;
  margin: 20px;
  text-align: center;
}

button {
  font-family: 'Courier New', Courier, monospace;
}

.menu-btn {
  background-color: black;
  color: white;
  border: 6px solid #333333;
  box-shadow: 5px 5px rgb(179, 179, 179);
  font-size: large;
  font-weight:  normal;
  border-radius: 15px;
  margin: 20px;
  text-align: center;
  width: auto;
  height: auto;

}

.start-btn:hover {
  cursor: pointer;
  background-color: #111111;
}

.menu-btn:hover {
  cursor: pointer;
  background-color: #111111;
}

.text-t {
  font-size: large;
  font-weight: 600;

  
}

.text-team {
  font-size: medium;
  font-weight: 600;

  width: 15em;
  text-align: center;
  //padding-left: 3em;
  margin-right: auto;
  margin-left: auto;
  
}

.text-team2 {
  font-size: medium;
  font-weight: 600;
  text-align: center;
  width: auto;

  
}

.error {
  font-size: 2em;
  font-weight: 600;

  width: 15em;
  text-align: center;
  //padding-left: 3em;
  margin-right: auto;
  margin-left: auto;
  color: red;
}

.team-box {
  display: flex;
}


select {
  font-size: medium;
  background-color: black;
  color: white;
  border: 6px solid #333333;
  box-shadow: 5px 5px rgb(179, 179, 179);
}

select:hover {
  cursor: pointer;
  background-color: #111111;
}

.team-container {
  display: block;
  width: 100%;
  margin-top: 1em;
}

.logo-box {
  display: block;
  width: 10em;
  height: 10em;
  padding-left: 2em;
  padding-right: 2em;
}

img.logo {
  width: 99%;
  height: 99%;
  object-fit: contain;
}

.predict-btn {
  width: 150px;
  height: 60px;
  color: white;
  background-color: black;
  border: 6px solid #333333;
  font-size: medium;
  box-shadow: 5px 5px rgb(179, 179, 179);
}

.predict-btn:hover {
  background-color: #111111;
  border: 6px solid #333333;
  cursor: pointer; 
}




.NO {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  background-color:  #c0392b ;
  box-shadow: 5px 5px  #cd6155 ;
  margin-left: auto;
  margin-right: auto;
}

.MAYBE {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  background-color:   #d4ac0d  ;
  box-shadow: 5px 5px  #f7dc6f ;
  //margin: auto auto 0 0;
  margin-left: auto;
  margin-right: auto;
}

.YES {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 150px;
  height: 60px;
  background-color:   #27ae60  ;
  box-shadow: 5px 5px  #7dcea0 ;
  margin-left: auto;
  margin-right: auto;
}


.box-text {
  align-items: center;
  justify-content: center;
  color: white;
  text-shadow: 2px 2px black;
  font-size: large;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

.row {
  display: flex;
  width: 100%;
  padding: 5px;
}

.row2 {
  display: flex;
  width: 100%;
  align-items: flex-end;
  justify-content: right;
  text-align: right;
}

.col {
  display: inline;
  //padding-left: 2em;
}



.col2 {
  display: inline-block;
  //align-items: right;
  justify-content: right;
  text-align: right;
  width: 33%;
  height: auto;
}

.col3 {
  display: inline;
  padding-left: 10em;
  width: 50%;
  align-items: center;
  justify-content: center;
  //border-left: 3px solid darkgrey;
}

.col4 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 50%;
  padding: 1em;
}


.col5 {
  display: flex;
  align-items: center;
  justify-content: center;
  height: auto;
  width: 100%;
  padding: 1em;
}

.lable-col {
  //display: block;
  //padding: 0;
  color: #200a74;
  font-size: medium;
  width: auto;
}

.lable-col2 {
  //display: block;
  //padding: 0;
  color: rgb(56, 56, 56);
  font-size: medium;
  width: auto;
}


form {
  display: flex;
  width: 100%;
  padding-top: 3px;
  //border-top: 3px solid darkgrey;
}

input {
  margin: 9px 9px 9px 0;
  display: block;
  //padding: ;
  font-size: medium;
}

.slider {
  //-webkit-appearance: none;
  width: 100%;
  height: 10px;
  border-radius: 5px;
  background: #c0392b;
  outline: none;
  opacity: 0.7;
  -webkit-transition: .2s;
  transition: opacity .2s;
}

.slider:hover {
  opacity: 1;
}

.slider::-webkit-slider-thumb {
  //-webkit-appearance: none;
  appearance: none;
  width: 23px;
  height: 24px;
  border: 0;
  //background-image: url('../images/cup.png');
  cursor: pointer;
}

.slider::-moz-range-thumb {
  width: 23px;
  height: 24px;
  border: 0;
  //background-image: url('../images/cup.png');
  cursor: pointer;
}

.form2 {
  display: block;
  width: 100%;
}

h1 {
  color: #200a74;
}

a, a:hover, a:focus, a:active {
  text-decoration: none;
  color: inherit;
  align-items: center;
  justify-content: center;
}

.form3 {
  display: flex;
  width: 100%;
  margin-top: 2em;
  margin-bottom: 1em;
}